<%= form_with(model: bible_verse, local: true) do |form| %>
<% if bible_verse.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(bible_verse.errors.count, "error") %> prohibited this bible verse from being saved:</h2>

  <ul>
    <% bible_verse.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= form.label :question %>
  <%= form.text_field :question, id: :bible_verse_question, class: 'form-control', autocomplete: 'off' %>
</div>

<div class='form-group'>
  <%= form.label :chapter %>
  <%= form.number_field :chapter, id: :bible_verse_chapter, class: 'form-control', autocomplete: 'off' %>
</div>

<div class='form-group'>
  <%= form.label :verse_number %>
  <%= form.text_field :verse_number, id: :bible_verse_verse_number, class: 'form-control', autocomplete: 'off' %>
</div>

<div class='form-group'>
  <%= form.label :book %>
  <%= form.text_field :book, id: :bible_verse_book, class: 'form-control', autocomplete: 'off' %>
</div>

<div class='form-group'>
  <%= form.label :verse_text %><br />
  <%= form.text_area :verse_text, id: :bible_verse_verse_text, autocomplete: 'off' %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
