<style type="text/css">
  td {
    border-right: 5px groove #ffaadd;
    border-bottom: 5px groove #ffaadd;
    border-left: 5px groove #ffaadd;
    color: aqua;
  }
  th {
    color: blue;
    border: 5px inset red;
  }
  td, th {
    text-align: center;
    vertical-align: middle;
  }
  a, a:focus {
    box-shadow: inset -1px 2px 20px 4px black;
  }
  body {
    background-image: url("http://www.aimlowerjournal.com/wp-content/uploads/2015/03/bigstock-little-boy-studying-the-script-80780252-752x440.jpg");
    background-size: contain;
  }
</style>
<h1>Bible Verses</h1>
<table class='table' id='resizable'>
  <thead>
    <tr>
      <th>Question</th>
      <th>Verse</th>
      <th>Verse text</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bible_verses.each do |bible_verse| %>
      <tr>
          <td><%= bible_verse.question.text %></td>
          <td><%= bible_verse.pretty_printed %></td>
          <td><%= bible_verse.verse_text %></td>
          <td><%= link_to 'Show', bible_verse, class: 'btn btn-success', target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @bible_verses.length > 0 %>
  <div class="well float-right" id='draggable'>
    <h3 style='text-align: center; vertical-align: center;'>All Bible Verses</h3>
    <ol>
      <% @bible_verses.each do |verse| %>
      <li><%= verse.question.text %></li><br /><br />
      <li><%= verse.pretty_printed %></li><br />
      <p><%= verse.verse_text %></p>
      <% end %>
    </ol>
    <%= paginate @bible_verses %>
  </div>
<% end %>

<br />
<%= paginate @bible_verses %>

Please read:
<p class='important'>If you are the owner of this application, please run <code>rails db:seed</code> to make new bible verses, <code>Answer.destroy_all</code> to delete all answers, and all empty themes are Detective themes.</p>
