<label class='bb'><input type='checkbox' name='hint' id='hints' class='navbar-brand' />Show hint</label>
<div class='special2' style='background-color: lightgray; border: 1px solid black; border-radius: 5px;'>
  <h1><strong>Question:</strong></h1>
  <p>
    <%= @bible_verse.question.text %>
  </p>
  </div>
  <div class='well special'>
    <p>
      <strong>Chapter:</strong>
      <%= @bible_verse.chapter %>
    </p>

    <p>
      <strong>Verse number:</strong>
      <%= @bible_verse.verse_number %>
    </p>

    <p>
      <strong>Book:</strong>
      <%= @bible_verse.book %>
    </p>
  </div>
  <%= form_with url: grade_path(@bible_verse) do |form| %>
    <label for="guess">Guess:
    <%= form.text_area :verse, class: 'form-control', autocomplete: 'off' %></label>
    <%= form.submit 'Make your guess!' %>
  <% end %>
  <label for="hints"><input type='checkbox' id='help' class='navbar-brand' />I need a hint</label>

<br /><br />
<div id="score-answer" class='well' style='display: none;'></div>
  <%= link_to 'Back', bible_verses_path, class: 'btn btn-success' %>
<style type="text/css">
  label {
    display: inline;
  }
  .form-control {
    display: inline;
  }
</style>
