
<p>
  <strong>Chapter:</strong>
  <%= @bible_verse.chapter %>
</p>

<p>
  <strong>Verse number:</strong>
  <%= @bible_verse.verse_number %>
</p>

<p>
  <strong>Book:</strong>
  <%= @bible_verse.book %>
</p>

<p>
  <strong>Verse text:</strong>
  <% if @bible_verse.verse_text.length >= 150 %>
    <%= @bible_verse.verse_text[0..50] + '...' %>
  <% else %>
    <%= @bible_verse.verse_text %>
  <% end %>
</p>

<%= link_to 'Edit', edit_bible_verse_path(@bible_verse), class: 'btn btn-warning' %> |
<%= link_to 'Back', bible_verses_path, class: 'btn btn-success' %>
