<!DOCTYPE html>
<html>
<head>
  <title>Bible Study</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <style type='text/css'>
  body {
    background-color: green;
    background-repeat: no-repeat;
    background-size: cover;
  }
  a {
    text-decoration: none;
    box-shadow: 2px 2px 10px 0px black;
  }
  a:hover {
    text-decoration: underline;
  }
  .btn.btn-primary:active {
    background-image: linear-gradient(navy, blue);
  }
  .btn.btn-success {
    background-image: linear-gradient(lime, green);
  }
  .btn.btn-warning {
    background-image: linear-gradient(orange, red);
  }
  .btn.btn-danger:active {
    background-image: linear-gradient(cyan, red);
  }
  .btn.btn-default:active {
    background-image: linear-gradient(cyan, white);
  }
  .alert.alert-info {
    background-image: linear-gradient(blue, magenta);
  }
  textarea {
    resize: both;
  }
  .well {
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid;
    border-color: gray;
    width: 50%;
  }
  table, h1 {
    align-content: center;
  }
  .danger-zone {
    border: 1px solid red;
    border-radius: 10px;
  }
  .btn.btn-success:active {
    background-image: linear-gradient(green, lime);
  }
  .btn.btn-warning:active {
    background-image: linear-gradient(red, orange);
  }
  .btn.btn-danger {
    background-image: linear-gradient(red, cyan);
  }
  ol {
    list-style-type: decimal-leading-zero;
  }
  .btn.btn-primary {
    background-image: linear-gradient(blue, navy);
  }
  .btn.btn-default {
    background-image: linear-gradient(white, cyan);
  }
  .alert.alert-info:hover {
    background-image: linear-gradient(magenta, blue);
  }
  table {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .table {
    border: 5px groove red;
  }
  th {
    border-bottom: 5px groove red;
  }
  .pull-right {
    float: right;
  }
  .pagination {
    background-color: black;
  }
  .pagination a {
    color: aqua;
    padding-right: 10px;
  }
  ul {
    list-style-type: none;
  }
  nav {
    background-color: black;
  }
  li, ul {
    display: inline;
  }
  span.page.current {
    color: #001bff;
    padding-right: 5px;
  }
  label {
    color: aqua;
    text-decoration: underline;
  }
  textarea {
    resize: vertical;
  }
  code {
    font-family: monospace;
  }
  </style>
</head>

<body>
  <nav>
    <ul class='nav navbar-nav'>
      <li><%= link_to 'Home', bible_verses_path, class: 'btn btn-default' %></li>
    </ul>
  </nav>
  <% if notice != nil %>
    <p id="notice" class='alert alert-info'><%= notice %></p>
  <% end %>
  <div class='container'>
    <div class="pull-right">
      <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
      <% else %>
      <%= link_to 'Sign Up', new_registration_path(resource_name), class: 'btn btn-default' %>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script>
  var isChecked = $('#hints').is(':checked');
  $(function() {
    $('#draggable').draggable();
    $('*').disableSelection();
  });
  $(function() {
    $('#resizable').resizable({
      ghost: true
    });
  });
  $('.special').hide();
  $( ".well" ).draggable({ cursor: "crosshair", cursorAt: { top: -5, left: -5 } });
  $('#hints').click(function() {
    if ($(this).is(':checked')) {
      $('.special').show(2000);
    } else {
      $('.special').hide(2000);
    }
  });
  $('label.bb').hide();
  $('#help').click(function() {
    if ($('#help').is(':checked')) {
      $('label.bb').show(400);
    } else {
      $('label.bb, .special').hide(400)
      isChecked = false;
    }
  });
  </script>
</body>
</html>
