<!DOCTYPE html>
<html>
  <head>
    <title>BibleStudy</title>
    <%= csrf_meta_tags %>
    <div class="pull-right">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success' %>
        <% end %>
      </div>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
